<%- include('../partials/upper.ejs',{doc_name:"Stocker"}) %>
<%- include('../partials/title.ejs',{subtitle:subtitle}) %>

<script>
function check(){
    var r = confirm(`Are you sure to drop ${document.getElementById('input-collection').nodeValue}?`);
    if(r){
        document.getElementById('form-search').submit();
    }
    else{
        alert("Canceled.")
    }
}
</script>
<form action="/stocker/drop" method="post" class="form-group form-search" id="form-search">
    <label>DB名稱</label>
   <input type="text" name="db_name" placeholder="DB名稱" class="form-control" id="input-collection">
    <label>Collection名稱</label>
   <input type="text" name="collection_name" placeholder="Collection名稱" class="form-control" id="input-collection">
<button class="btn btn-danger" onclick="check">Drop</button>
</form>


<%- include('../partials/lower.ejs') %>
