.title{
    margin: 20px;
}
.title_txt:hover{
   text-decoration: none; 
}
.wrapper_out{
    margin: 20px;
}
.form-search{
    margin: 20px;
    width: 300px;
}

.second-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn-second-row{
    margin-left: 30px;
}
.result{
    margin:30px;
}
