<script>
function back(){
  window.history.back();
}
</script>
<div class="title">
  <h1><a href="/stocker/" class="title_txt">Stockers</a></h1>
<div class="second-row">
    <h2><%= subtitle%></h2>
    <% if(subtitle!="Home"){%>
    <button onclick="back()" class="btn btn-primary btn-second-row">Back</button>
    <%}%>
  </div>
</div>